/* Nav Bar */
  
  .navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    font-weight: 500;
    outline: none;
  }
  
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: white; 
 }
  
  @media (max-width: 991.98px) {
.navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }


/* Cards  */

#card1, #card2, #card3 {
    text-align: center;
}

#skillcard {
    text-align: center;
}
/* Progess Bar  */

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}

#htmlskills {
    background-color: #00b489;
    width: 95%;
}

#cssskills {
    background-color: #00b489;
    width: 85%;
}

#jsskills {
    background-color: #00b489;
    width: 90%;
}

#pythonskills {
    background-color: #00b489;
    width: 95%;
}

#rubyskills {
    background-color: #00b489;
    width: 90%;
}

#githubskills {
    background-color: #00b489;
    width: 85%;
}



  /* Footer */

footer a {
  text-decoration: none;
}

.fa {
  color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    color: #00b489;
}

#link1, #link2 {
    color:white;
}
#link1:hover, #link2:hover {
    color: #00b489;
}
