/* Nav Bar */
  
  .navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    font-weight: 500;
    outline: none;
  }
  
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: white; 
 }
  
  @media (max-width: 991.98px) {
.navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
    }
  }

/* Progess Bar  */

.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}



  /* Footer */

footer a {
  text-decoration: none;
}

.fa {
  color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    color: #00b489;
}

